.Hair-trade-ile-warte {
    width: 100%;
    background: linear-gradient(90deg, rgba(82, 44, 16, 0.3) 0%, rgba(109, 71, 37, 0.3) 50%, rgba(60, 35, 18, 0.3) 97.99%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .ile-warte-popup {
        position: absolute;
        background-color: #ffffff;
        height: 430px;
        width: 462px;
        z-index: -10;
        opacity: 0;
        top: 150px;
        border-radius: 8px;
        padding: 36px 45px;
        border: 1px solid #B1ACAC;
        transition: all 600ms;

        .popup-content {
            width: 100%;
            height: 100%;
            position: relative;

            .close-btn {
                font-size: 16px;
                font-weight: 700;
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #000;
                border-radius: 4px;
                position: absolute;
                top: -21px;
                right: -31px;
                cursor: pointer;
                transition: all 500ms;

                &:hover {
                    color: #E17120;
                    border: 1px solid #E17120;
                }
            }

            img {
                width: 100%;
            }

            p {
                margin-top: 20px;
                font-size: 14px;
                font-weight: 400;
            }
        }

    }

    .ile-warte-content {
        width: 1116px;
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 68px;

        .left {
            grid-template-columns: 1/2;

            h2 {
                font-size: 32px;
                font-weight: 700;
            }

            p {
                font-size: 400;
                font-weight: 400;
                margin-top: 24px;
            }

            img {
                margin-left: -25px;
            }
        }

        .right {
            grid-template-columns: 2/3;

            .formularz {
                display: flex;
                justify-content: flex-end;

                .hair-value-form {
                    background-color: #fff;
                    padding: 28px 71px 58px 70px;
                    border: 1px solid #ccc;
                    border-radius: 8px;
                    max-width: 545px;


                    h2 {
                        font-size: 20px;
                        font-weight: 700;
                    }

                    .hair-type {
                        margin-top: 18px;

                        label {
                            font-size: 16px;
                            font-weight: 700;
                        }

                        .hair-type-options {
                            display: flex;
                            border: 1px solid #000;
                            border-radius: 8px;
                            margin-top: 18px;

                            button {
                                flex: 1;
                                padding: 10px;
                                border: 1px solid transparent;
                                color: #B1ACAC;
                                border-radius: 8px;
                                background-color: #ffffff;
                                cursor: pointer;
                            }

                            button.active {
                                border-color: #E17120;
                                background-color: #ffffff;
                                color: #E17120;
                                margin: -1px;
                                z-index: 100;
                            }
                        }
                    }

                    .hair-color {
                        margin-top: 25px;


                        label {
                            font-size: 16px;
                            font-weight: 700;
                        }

                        .hair-color-options {
                            display: flex;
                            margin-top: 20px;
                            flex-wrap: wrap;
                            row-gap: 10px;

                            .btn-container {
                                width: 50%;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 13px;

                            }

                            button {
                                width: 59px;
                                height: 59px;
                                border-radius: 8px;
                                border: none;
                                cursor: pointer;
                            }

                            button.selected,
                            button:active {
                                border: 2px solid #E17120;
                            }

                            button:hover {
                                border: 2px solid #E17120;
                            }

                            span {
                                font-size: 16px;
                                font-weight: 700;
                            }

                            .blond {
                                background-image: url('../images/blond.avif');
                                background-position: center center;
                                background-size: cover;
                            }

                            .rude {
                                background-image: url('../images/rude.avif');
                                background-position: center center;
                                background-size: cover;
                            }

                            .ciemne {
                                background-image: url('../images/ciemne.avif');
                                background-position: center center;
                                background-size: cover;
                            }

                            .ciemny-blond {
                                background-image: url('../images/ciemnyblond.avif');
                                background-position: center center;
                                background-size: cover;
                            }


                        }
                    }

                    .lower-part {
                        margin-top: 25px;
                        display: grid;
                        grid-template-columns: 50% 50%;
                        column-gap: 24px;
                        row-gap: 16px;

                        .input-group {
                            label {
                                font-size: 16px;
                                font-weight: 700;
                            }

                            .small-text {
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17.57px;
                                text-align: left;
                                color: #535353;
                            }

                            .znak-zapytania {
                                width: 21px;
                                height: 21px;
                                border: 1px solid #535353;
                                border-radius: 4px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 14px;
                            }

                            .info-link {
                                cursor: pointer;
                                transition: all 600ms;

                                span {
                                    transition: all 600ms;
                                }

                                &:hover {
                                    color: #E17120;

                                    span {
                                        border-color: #E17120;
                                    }
                                }
                            }


                            input {
                                margin-top: 8px;
                                width: 100%;
                                padding: 10px;
                                border: none;
                                background-color: #ECDDB780;
                                border-radius: 8px;
                            }

                            .input-file {
                                background-color: transparent;
                                padding: 0px;
                                border-radius: 0px;
                                padding-top: 5px;
                            }

                            .input-dlugosc {
                                max-width: 134px;
                            }
                        }

                    }

                    .submit-button {
                        margin-top: 32px;
                        width: 91px;
                        height: 42px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #000;
                        color: #fff;
                        font-size: 16px;
                        font-weight: 700;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                    }

                    @keyframes strobo {
                        0% {
                            background-color: #1E1E1E;
                            border-color: #1E1E1E;
                        }

                        15% {
                            background-color: #E17120;
                            border-color: #E17120;
                        }

                        35% {
                            background-color: #1E1E1E;
                            border-color: #1E1E1E;
                        }

                        50% {
                            background-color: #E17120;
                            border-color: #E17120;
                        }

                        65% {
                            background-color: #1E1E1E;
                            border-color: #1E1E1E;
                        }

                        80% {
                            background-color: #E17120;
                            border-color: #E17120;
                        }

                        100% {
                            background-color: #E17120;
                            border-color: #E17120;
                        }
                    }

                    .submit-button:hover {
                        animation-name: strobo;
                        animation-duration: 600ms;
                        animation-fill-mode: forwards;
                    }

                }

            }
        }
    }
}

.popup-active {
    z-index: 500 !important;
    opacity: 1 !important;
}

@media (max-width: 1116px) {
    .Hair-trade-ile-warte {

        .ile-warte-content {
            width: 100%;
            padding-left: 30px;
            padding-right: 30px;
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;

            .left {
                display: flex;
                flex-direction: column;

                img {
                    max-height: 300px;
                    width: auto;
                    object-fit: contain;
                    align-self: flex-end;
                    margin-top: -150px;

                }
            }

            .right {
                .formularz {
                    justify-content: center;

                    .hair-value-form {
                        max-width: 100%;
                        width: 100%;
                        padding: 28px 71px 28px 70px;
                    }
                }
            }

        }
    }
}

@media (max-width: 767px) {
    .Hair-trade-ile-warte {
        .ile-warte-popup{
            width: 90%;
            padding: 36px 15px;

            .popup-content{
                .close-btn{
                    right: 0;
                }
            }
        }

        .ile-warte-content {
            padding-left: 12px;
            padding-right: 12px;
            margin-top: 8px;
            padding-bottom: 220px;

            .left {

                h2 {
                    font-size: 20px;
                    line-height: 28px;
                }

                p {
                    font-size: 14px;
                    line-height: 20px;

                    br {
                        display: none;
                    }
                }

                img {
                    margin-top: 0;
                    margin-left: 0;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }

            .right {
                margin-top: 30px;

                .formularz {
                    .hair-value-form {
                        padding: 22px 30px 30px 30px;

                        h2 {
                            font-size: 16px;
                            text-align: center;
                        }

                        .hair-type {
                            label {
                                font-size: 14px;
                            }
                        }

                        .hair-color {
                            label {
                                font-size: 14px;
                            }

                            .hair-color-options {
                                span {
                                    font-size: 12px;
                                }

                                button {
                                    width: 44px;
                                    height: 44px;
                                }

                            }
                        }

                        .lower-part{
                            grid-template-columns: 100%;
                            row-gap: 5px;

                            .input-group{
                                label{
                                    font-size: 14px;
                                }

                                .small-text{
                                    font-size: 12px;
                                }

                                .input-dlugosc{
                                    max-width: 100%;
                                }
                            }
                        }


                    }
                }
            }

            
        }
    }
}